input, button, a, i {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.navigation-bar {
    width:100%;
    height:60px;
    border-bottom:1px solid #efefef;
    display:flex;
    background:#fff;
}

.navigation-bar .left {
    width:200px;
    display:flex;
    align-items:center;
    flex-shrink:0;
}

.left .logo a {
    text-decoration:none;
    margin:10px;
}

.left .logo h1 {
    font-weight:bold;
    color:rgb(4, 1, 26);
    font-family:"Poppins",sans-serif;
    font-size:30px;
}

.left .logo .hatt {
    font-weight:bold;
    color:rgb(4, 1, 26);
    font-family:"Poppins",sans-serif;
}

.left .fa-bars {
    margin:10px;
    color:rgb(11, 4, 32);
    margin:20px;
    cursor:pointer;
}

.navigation-bar .center {
    display:flex;
    justify-content:center;
    align-items:center;
    flex:1;
}

.center input {
    border:1px solid #efefef;
    flex:1;
    width:0;
    outline:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:.4em;
    text-indent:12px;
    border-radius:4px;
    color:rgb(11, 4, 32);
    font-family:"Poppins",sans-serif;
}

.center input::-webkit-search-cancel-button {
    -webkit-appearance:none;
    opacity:0.8;
    width:1.2em;
    height:1.2em;
    background-size:contain;
    border-radius:50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
}

.center input::placeholder {
    color:rgb(11, 4, 32);
    font-family:"Poppins",sans-serif;
}

.center .fa-microphone {
    margin:10px;
    cursor:pointer;
}

.navigation-bar .right {
    width:450px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.right .login {
    text-decoration:none;
    background:rgb(4, 1, 26);
    color:#fff;
    font-family:"Poppins",sans-serif;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:25px;
    padding-right:25px;
    font-size:14px;
    border-radius:4px;
    margin:10px;
}

.right .login:hover {
    background:rgba(4,1,26,0.5);
}

.right p {
    margin:10px;
    color:rgb(4,1,26);
    font-family:"Poppins",sans-serif;
    font-size:14px;
    white-space:nowrap;
}

.right .signup {
    text-decoration:none;
    font-size:14px;
    font-family:"Poppins",sans-serif;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:25px;
    padding-left:25px;
    background:rgb(31, 28, 211);
    color:#fff;
    border-radius:4px;
    margin:10px;
}

.right .signup:hover {
    background:rgba(31,28,211,0.5);
}

.right .profile-image {
    width:45px;
    height:45px; 
    border-radius:50%;
    margin:10px;
    border:1px solid rgb(31, 28, 211);
    cursor:pointer;
    transition:0.8s;
}

.right .profile-image:hover {
    border:1px solid #9b9494;
}

.right .profile-image:active {
    border:1px solid #efefef;
}

.profile-options {
    width:200px;
    height:260px;
    box-shadow:2px 2px 12px 2px #efefef;
    position:absolute;
    top:60px;
    right:8px;
    background:#fff;
    border:1px solid #efefef;
    border-radius:2px;
    pointer-events:none;
    transition:0.3s;

    opacity:0;
}

.profile-options.clicked {
    opacity:1;
}

.right .bell-wrapper {
    position:relative;
    margin:30px;
}

.right .fa-bell {
    color:rgb(1, 1, 14);
    font-size:20px;
    cursor:pointer;
    padding-left:12px;
    padding-right:12px;
    padding-top:12px;
    padding-bottom:12px;
    border-radius:4px;
    transition:0.4s;
}

.right .fa-bell:hover {
    background:#efefef;
}

.right .fa-bell:active {
    background:transparent;
}

.notifications {
    position:absolute;
    top:40px;
    width:100px;
    height:200px;
    border:1px solid #efefef;
    background:#fff;
    box-shadow:2px 2px 12px 2px #efefef;
    border-radius:10px;
    border-top-left-radius:0;
    transition:0.4s;
    pointer-events:none;

    opacity:0;
}

.notifications.clicked {
    opacity:1;
}


.right .dot-for-bell {
    width:9px;
    height:9px;
    border-radius:80px;
    background:rgb(233, 10, 77);
    position:absolute;
    right:3px;
    top:3px;
}

.right .upload {
    font-family:"Poppins",sans-serif;
    color:rgb(31, 28, 211);
    border-radius:30px;
    padding-top:9px;
    padding-bottom:9px;
    padding-left:12px;
    padding-right:12px;
    min-width:200px;
    max-width:200px;
    margin:30px;
    cursor:pointer;
    border:1px solid #efefef;
    transition:0.2s;
}

.right .upload:hover {
    background:rgb(31,28,211,0.8);
    color:#fff;
}

/*Vertical Nav*/

.vertical-navbar .active-container {
    position:relative;
}

.vertical-navbar .active-container .circle {
    width:10px;
    height:10px;
    border-radius:50%;
    background:rgb(221, 3, 39);
    position:absolute;
    top:13px;
    right:100px;
}

.vertical-navbar {
    width:200px;
    height:100vh;
    position:absolute;
    border-right:1px solid #efefef;
    left: -200px;
    transition:left 0.5s;
    top:61px;
    background:#fff;
    box-shadow:2px 2px 12px 2px #efefef;

    z-index:12;
}

.vertical-navbar.active {
    left:0px;
}

.vertical-navbar .user {
    width:100%;
    height:10%;

    display:flex;
    align-items:center;
}

.vertical-navbar .user .user-content {
    width:50px;
    height:50px;
    border-radius:50%;
    border:1px solid #efefef;
    margin:10px;
}

.vertical-navbar .links {
    width:100%;
    height:60%;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.vertical-navbar .links li {
    list-style:none;
    padding:15px;
}

.vertical-navbar .links li a {
    text-decoration:none;
    color:rgb(31, 28, 211);
    font-family:"Poppins",sans-serif;
    font-size:15px;
    font-weight:bold;
    white-space:nowrap;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:100px;
    padding-left:100px;
    background:#efefef;
}

.vertical-navbar .links li a:hover {
    background:#fffafa;
}

.vertical-navbar .direct-links {
    width:100%;
    height:30%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.vertical-navbar .direct-links .logout {
    text-decoration:none;
    padding-left:60px;
    padding-right:60px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:20px;
    background:rgb(221, 3, 39);
    color:#fff;
    font-family:"Poppins",sans-serif;
    font-size:14px;
    margin:5px;
}

.vertical-navbar .direct-links .logout:hover {
    background:rgb(221,3,39,0.5);
}

.vertical-navbar .direct-links .account {
    text-decoration:none;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:5px;
    background:rgb(231, 230, 245);
    color:rgb(4, 1, 26);
    font-family:"Poppins",sans-serif;
    font-size:14px;
    margin:5px;
}

.vertical-navbar .direct-links .account:hover {
    background:#fffafa;
}

.vertical-navbar .direct-links .login {
    text-decoration:none;
    padding-left:60px;
    padding-right:60px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:20px;
    background:rgb(221, 3, 39);
    color:#fff;
    font-family:"Poppins",sans-serif;
    font-size:14px;
    margin:5px;
}

.vertical-navbar .direct-links .login:hover {
    text-decoration:none;
    padding-left:60px;
    padding-right:60px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:20px;
    background:rgb(221, 3, 39,0.5);
    color:#fff;
    font-family:"Poppins",sans-serif;
    font-size:14px;
    margin:5px;
}

.vertical-navbar .direct-links .signup {
    text-decoration:underline;
    border-radius:20px;
    color:rgb(11, 4, 32);
    font-family:"Poppins",sans-serif;
    font-size:14px;
    margin:5px;
}

@media screen and (max-width:1027px) {
   .navigation-bar .center {
        display:none;
    }

    .right {
        flex:1;
    }
}

@media screen and (max-width:826px) {
    .right .upload {
        display:none;
    }
    
    .left {
        flex:1;
    }

    .right {
        width:1200px;
    }

    .left h1 {
        display:none;
    }

    @media screen and (min-width:826px) {
        .links .upload-link {
            display:none;
        }
    }


    .right .profile-image {
        border:1px solid #efefef;
    }
}



/*Navbar Resization for l-s pages*/

@media screen and (max-width:800px) {
    .l-s-navbar {
        display:none;
    }
}


