body,html {
    height:100%;
}

* {
    margin:0;
    padding:0;
}

.container {
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.fa-heart {
    color:rgb(255, 66, 66);
    font-size:40px;
    transition:0.4s;
    cursor:pointer;
}

.fa-heart:hover {
    color:rgba(255,66,66,0.7);
}
